{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Przedmiot</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ item.price }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('item') }}">
            Powrót do listy
        </a>
    </li>
    <li>
        <a href="{{ path('item_edit', { 'id': item.id }) }}">
            Edycja
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
