{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista przedmiotow</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('item_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('item_show', { 'id': item.id }) }}">Pokaż szczegoly</a>
                    </li>
                    <li>
                        <a href="{{ path('item_update', { 'id': item.id }) }}">Edytuj dane przedmiotu</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('item_new') }}">
                Stworz nowy wpis
            </a>
        </li>
    </ul>
    {% endblock %}
