{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Basket</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ entity.customer }}</td>
            </tr>
            <tr>
                <th>Itemid</th>
                <td>{{ entity.itemId }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ entity.quantity }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('basket') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('basket_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
